{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="text-center mb-5">
<h2 class="fw-bold text-primary">Welcome to Employee Management System</h2>
<p class="text-muted">Manage employees quickly and efficiently</p>
</div>

<div class="row text-center">

<div class="col-md-4 mb-4">
<div class="card dashboard-card p-4 shadow">

<i class="bi bi-people-fill display-4 text-primary mb-3"></i>

<h4>Employee Records</h4>

<p>Store and manage employee details easily.</p>

</div>
</div>

<div class="col-md-4 mb-4">
<div class="card dashboard-card p-4 shadow">

<i class="bi bi-graph-up display-4 text-success mb-3"></i>

<h4>Manage Data</h4>

<p>Add, edit and delete employee information anytime.</p>

</div>
</div>

<div class="col-md-4 mb-4">
<div class="card dashboard-card p-4 shadow">

<i class="bi bi-shield-lock-fill display-4 text-danger mb-3"></i>

<h4>Secure System</h4>

<p>Login protected system built using Flask.</p>

</div>
</div>

</div>

</div>

{% endblock %}