
{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-4">

<div class="card shadow">

<div class="card-header text-center bg-gradient-primary text-white">
Login
</div>

<div class="card-body">

<form action="/logincheck" method="POST">

<input type="text" name="username" class="form-control mb-3" placeholder="Username">

<input type="password" name="pwrd" class="form-control mb-3" placeholder="Password">

<button class="btn bg-gradient-primary text-white w-100">Login</button>

</form>

<br>

<a href="/forgot_password">Forgot Password?</a>

</div>
</div>

</div>

</div>

{% endblock %}