{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card profile-card shadow-lg">

<div class="card-body text-center">

<div class="profile-avatar mb-3 text-center">
<img src="{{ url_for('static', filename='images/profile/' + (user[5] or 'image.png')) }}" 
     class="profile-img-large shadow">
</div>

<h3 class="text-white">{{user[1]}}</h3>

<p class="text-light">Employee Management System User</p>

<hr class="text-white">

<div class="text-start">

<p><strong>Email:</strong> {{user[4]}}</p>

<p><strong>Role:</strong> {{user[3]}}</p>



</div>

<div class="mt-3">

<a href="/edit_profile" class="btn btn-light">

<i class="bi bi-pencil"></i> Edit Profile

</a>

</div>

</div>

</div>

</div>

</div>

</div>

{% endblock %}